.about-section
    position: relative
    +flex-center
    flex-direction: column
    padding: 150px 100px
    height: auto
    width: 100%

    &__devider
        position: absolute
        top: 150px
        bottom: 150px
        left: 50%
        transform: translateX(-50%) 
        width: 2px
        height: auto
        background-color: $logo_color

    &__item
        display: grid
        grid-template-columns: repeat(3, minmax(10px,1fr)) 2px repeat(3, minmax(10px,1fr))
        grid-template-rows: repeat(1, 100%)
        grid-gap: 0
        align-items: center
        margin-top: 20px
        height: auto //160px

        &_right
            .about-section__item
                &-icon
                    grid-column-start: 6
                    grid-column-end: 7
                &-text
                    grid-column-start: 1
                    grid-column-end: 4
                    grid-row-start: 1
                    padding-right: 15px
                    padding-left: 0 
                &-devider
                    grid-column-start: 4
                    grid-column-end: 5
                    grid-row-start: 1

        &-icon
            grid-column-start: 2
            grid-column-end: 3
            align-self: center
            justify-self: center
            height: 80px //127px
        &-img
            height: 100%

        &-text
           grid-column-start: 5
           grid-column-end: 8
           padding-left: 15px
           font-size: 18px
           line-height: 33px
           text-align: center
           span
               font-weight: 500