// Large
@media (max-width: 1199px)
    .about-section
        padding: 150px 80px
        &__item
            &-text
                font-size: 16px
            &-icon
                height: 80px


// Medium - 720px
@media (max-width: 991px)
    .about-section
        padding: 120px 40px
        &__item
            &-text
                font-size: 15px
                line-height: 30px
            &-icon
                height: 70px
    .video-player
        margin-top: 80px


// Small
@media (max-width: 767px)
    .about-section
        padding: 110px 40px
        &__item
            &-text
                font-size: 14px
                line-height: 27px
    .video-player
        margin-top: 70px
        height: 270px 
        width: 480px


// Mobile
@media (max-width: 575px)
    .about-section
        padding: 80px 17px 80px 17px
        &__devider
            display: none
        &__item
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            margin-top: 20px
            height: auto

            &-text
                padding: 10px 5px
                height: auto
                font-size: 13px
                line-height: 26px

            &-icon
                height: 60px

            &_right
                .about-section__item
                    &-text
                        padding: 10px 5px 
    .video-player
        margin-top: 30px
        height: 170px 
        width: 290px